Repository keep-network/keep-core, pull requests merged in 2020-09, with the labels that each got.

#2028 Fix fetching past events
  solidity/dashboard/src/services/tbtc-rewards.service.js
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/services/tokens-page.service.js
Labels: :old_key: token dashboard

#2030 Log connection close failures on debug level
  pkg/net/libp2p/authenticated_connection.go
Labels: 🌍 network, 📟 client

#2035 Updated dashboard lockfile with the newest keep-* and tbtc
  solidity/dashboard/package-lock.json
Labels: :old_key: token dashboard

#1989 Copy stake flow
  solidity/contracts/stubs/OldTokenStaking.sol
  solidity/dashboard/src/actions/index.js
  solidity/dashboard/src/components/Badge.jsx
  solidity/dashboard/src/components/Banner.jsx
  solidity/dashboard/src/components/DelegatedTokensTable.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/Loadable.jsx
  solidity/dashboard/src/components/Modal.jsx
  solidity/dashboard/src/components/StepNav.jsx
  solidity/dashboard/src/components/Timeline.jsx
  solidity/dashboard/src/components/Undelegations.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step0.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step1.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step2.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step3.jsx
  solidity/dashboard/src/components/copy-stake-steps/Step4.jsx
  solidity/dashboard/src/components/copy-stake-steps/index.js
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/badge.less
  solidity/dashboard/src/css/banner.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/copy-stake-page.less
  solidity/dashboard/src/css/forms.less
  solidity/dashboard/src/css/modal.less
  solidity/dashboard/src/css/step-nav.less
  solidity/dashboard/src/css/timeline.less
  solidity/dashboard/src/old-contracts-artifacts/TokenStaking.json
  solidity/dashboard/src/pages/CopyStakePage.jsx
  solidity/dashboard/src/pages/TokensPageContainer.jsx
  solidity/dashboard/src/reducers/copy-stake.js
  solidity/dashboard/src/reducers/index.js
  solidity/dashboard/src/sagas/copy-stake.js
  solidity/dashboard/src/sagas/index.js
  solidity/dashboard/src/services/staking-port-backer.service.js
  solidity/dashboard/src/services/tbtc-authorization.service.js
  solidity/dashboard/src/services/token-grants.service.js
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/services/tokens-page.service.js
  solidity/dashboard/src/static/svg/alert.svg
  solidity/dashboard/src/static/svg/car-dashboard-speed.svg
  solidity/dashboard/src/static/svg/fees.svg
  solidity/dashboard/src/static/svg/keep-tower.svg
  solidity/dashboard/src/static/svg/success.svg
  solidity/dashboard/src/static/svg/user-friendly.svg
  solidity/migrations/2_deploy_contracts.js
  solidity/migrations/3_initialize.js
  solidity/scripts/staking-port-backer-dapp-starter.js
Labels: :old_key: token dashboard

#2034 Replace icons on the Overview page
  solidity/dashboard/src/components/TokenOverview.jsx
Labels: :old_key: token dashboard

#2033 Fix subscription to a `Undelegated` event on the Operator page
  solidity/dashboard/src/components/PendingUndelegation.jsx
Labels: :old_key: token dashboard

#2022 Copy stake flow- create the old `TokenStaking` web3 contract instance
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/old-contracts-artifacts/TokenStaking.json
Labels: :old_key: token dashboard

#2042 DefaultMaxGasPrice used by client set to 500 Gwei
  configs/config.toml.SAMPLE
  pkg/chain/ethereum/connect.go
Labels: process & client team, 📟 client

#2044 Hiding a copy stake banner when no old delegations available
  solidity/dashboard/src/components/copy-stake-steps/Step1.jsx
  solidity/dashboard/src/pages/CopyStakePage.jsx
  solidity/dashboard/src/pages/TokensPageContainer.jsx
  solidity/dashboard/src/reducers/copy-stake.js
  solidity/dashboard/src/sagas/copy-stake.js
  solidity/dashboard/src/sagas/web3.js
Labels: :old_key: token dashboard

#2043 Display copied delegations in bonding section
  solidity/dashboard/src/services/tbtc-authorization.service.js
Labels: :old_key: token dashboard

#2025 Ledger live derivation path fix
  solidity/dashboard/src/components/ChooseWalletAddress.jsx
  solidity/dashboard/src/components/LedgerModal.jsx
  solidity/dashboard/src/connectors/abstract-connector.js
  solidity/dashboard/src/connectors/ledger.js
  solidity/dashboard/src/css/choose-wallet-address.less
Labels: :old_key: token dashboard

#2046 Fix fetching slashed tokens
  solidity/dashboard/src/services/slashed-tokens.service.js
  solidity/dashboard/src/services/tokens-page.service.js
Labels: :old_key: token dashboard

#2047 Skip data updates if its a copied delegation
  solidity/dashboard/src/pages/TokensPageContainer.jsx
Labels: :old_key: token dashboard

#2049 Validating for 0 ETH account balance
  solidity/dashboard/src/components/AddETHModal.jsx
Labels: :old_key: token dashboard

#2051 `useEtherscanUrl` hook fix
  solidity/dashboard/src/hooks/useEtherscanUrl.js
Labels: :old_key: token dashboard

#2059 Updated stake initialization time to 12 hours in docs
  docs/run-random-beacon.adoc
Labels: :book: documentation

#2058 Fix releasing tokens from a managed grant
  solidity/dashboard/src/sagas/token-grant.js
  solidity/dashboard/src/sagas/web3.js
Labels: :old_key: token dashboard

#2062 Set the default value for a `options` param in the `createTransactionEventChannel`
  solidity/dashboard/src/sagas/web3.js
Labels: :old_key: token dashboard

#2060 Information on the gas cost of operating the client
  docs/run-random-beacon.adoc
Labels: :book: documentation

#1863 Rewards
  solidity/contracts/BeaconBackportRewards.sol
  solidity/contracts/BeaconRewards.sol
  solidity/contracts/Rewards.sol
  solidity/contracts/stubs/BeaconBackportRewardsStub.sol
  solidity/contracts/stubs/BeaconRewardsStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorBeaconRewardsStub.sol
  solidity/contracts/stubs/RewardsStub.sol
  solidity/test/TestBeaconBackportRewards.js
  solidity/test/TestBeaconRewards.js
  solidity/test/TestRewards.js
  solidity/test/helpers/rewardsData.js
Labels: ⛓chain

#2061 Metamask pop up
  solidity/dashboard/src/components/ChooseWallet.jsx
  solidity/dashboard/src/components/LedgerModal.jsx
  solidity/dashboard/src/components/MetaMaskModal.jsx
  solidity/dashboard/src/components/SelectedWalletModal.jsx
  solidity/dashboard/src/components/TrezorModal.jsx
  solidity/dashboard/src/components/Web3ContextProvider.jsx
  solidity/dashboard/src/connectors/abstract-connector.js
  solidity/dashboard/src/connectors/index.js
  solidity/dashboard/src/contracts.js
Labels: :old_key: token dashboard

#2100 Final steps: random beacon rewards
  solidity/contracts/BeaconBackportRewards.sol
  solidity/contracts/BeaconRewards.sol
  solidity/contracts/Rewards.sol
  solidity/contracts/stubs/BeaconBackportRewardsStub.sol
  solidity/contracts/stubs/BeaconRewardsStub.sol
  solidity/contracts/stubs/RewardsStub.sol
  solidity/test-environment.config.js
  solidity/test/TestBeaconBackportRewards.js
  solidity/test/TestBeaconRewards.js
  solidity/test/rewards/TestBeaconBackportRewards.js
  solidity/test/rewards/TestBeaconRewards.js
  solidity/test/rewards/TestRewards.js
  solidity/test/rewards/rewardsData.js
Labels: ⛓chain

#2103 Flattening the rewards curve
  solidity/contracts/Rewards.sol
  solidity/test/rewards/TestRewards.js
  solidity/test/rewards/rewardsData.js
Labels: ⛓chain
