Repository keep-network/keep-core, pull requests merged in 2020-05, with the labels that each got.

#1737 Changing version of moment to a fixed 2.24.0
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#1721 Delegate tokens page in KEEP token dashboard
  solidity/dashboard/src/components/AddressShortcut.jsx
  solidity/dashboard/src/components/DelegateStakeForm.jsx
  solidity/dashboard/src/components/DelegationOverview.jsx
  solidity/dashboard/src/components/Dropdown.jsx
  solidity/dashboard/src/components/FormInput.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/OwnedTokensOverview.jsx
  solidity/dashboard/src/components/ProgressBar.jsx
  solidity/dashboard/src/components/SelectedGrantDropdown.jsx
  solidity/dashboard/src/components/SlashedTokens.jsx
  solidity/dashboard/src/components/SpeechBubbleInfo.jsx
  solidity/dashboard/src/components/SpeechBubbleTooltip.jsx
  solidity/dashboard/src/components/StatusBadge.jsx
  solidity/dashboard/src/components/Tile.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
  solidity/dashboard/src/components/TokensContextSwitcher.jsx
  solidity/dashboard/src/components/TokensOverview.jsx
  solidity/dashboard/src/components/Undelegations.jsx
  solidity/dashboard/src/constants/colors.js
  solidity/dashboard/src/contexts/TokensPageContext.jsx
  solidity/dashboard/src/css/address-shortcut.less
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/buttons.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/datatable.less
  solidity/dashboard/src/css/delegate-stake-form.less
  solidity/dashboard/src/css/fonts/vitesse.css
  solidity/dashboard/src/css/indicator.less
  solidity/dashboard/src/css/tokens-context-switcher.less
  solidity/dashboard/src/css/tokens-page.less
  solidity/dashboard/src/css/tooltip.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/css/vars.less
  solidity/dashboard/src/pages/TokensPage.jsx
  solidity/dashboard/src/reducers/tokens-page.reducer.js
  solidity/dashboard/src/services/tokens-page.service.js
  solidity/dashboard/src/static/svg/authorizer-form-icon.svg
  solidity/dashboard/src/static/svg/beneficiary-form-icon.svg
  solidity/dashboard/src/static/svg/dashed-line.svg
  solidity/dashboard/src/static/svg/grant-context-icon.svg
  solidity/dashboard/src/static/svg/keep-green-form-icon.svg
  solidity/dashboard/src/static/svg/money-wallet-open.svg
  solidity/dashboard/src/static/svg/operator-form-icon.svg
Labels: :old_key: token dashboard

#1741 DKG contribution fee set to 1% and group active time to ~2 weeks
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/migrations/2_deploy_contracts.js
Labels: ⛓chain

#1706 keep-prd: Service/Ingress Static IPs
  infrastructure/terraform/keep-prd/ip.tf
  infrastructure/terraform/keep-prd/variables.tf
Labels: :cloud: infrastructure

#1707 keep-prd: Token Dashboard
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-ingress.yaml
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-service.yaml
Labels: :cloud: infrastructure

#1748 Message dissemination is disabled by default and can be configured
  configs/config.toml.SAMPLE
  pkg/net/libp2p/channel_manager.go
  pkg/net/libp2p/libp2p.go
Labels: 🌍 network

#1538 Hardware wallet integration- dapp
  solidity/dashboard/README.md
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/public/images/ledger-device.svg
  solidity/dashboard/public/images/trezor-device.svg
  solidity/dashboard/src/components/ChooseWallet.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/Modal.jsx
  solidity/dashboard/src/components/NetworkStatus.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SelectedWalletModal.jsx
  solidity/dashboard/src/components/Web3ContextProvider.jsx
  solidity/dashboard/src/components/Web3Status.jsx
  solidity/dashboard/src/components/WithWeb3Context.jsx
  solidity/dashboard/src/config/config.json
  solidity/dashboard/src/connectors/abstract-connector.js
  solidity/dashboard/src/connectors/ledger.js
  solidity/dashboard/src/connectors/trezor.js
  solidity/dashboard/src/connectors/utils.js
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/choose-wallet.less
  solidity/dashboard/src/css/messages.less
  solidity/dashboard/src/css/modal.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/utils/general.utils.js
Labels: :old_key: token dashboard

#1743 Return an etherscan url depending on the network
  solidity/dashboard/src/components/AuthorizationHistory.jsx
  solidity/dashboard/src/components/AuthorizationInfo.jsx
  solidity/dashboard/src/components/AuthorizeContracts.jsx
  solidity/dashboard/src/components/ViewContractInBlockExplorer.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/hooks/useEtherscanUrl.js
Labels: :old_key: token dashboard

#1657 keep-prd: GKE + VPN
  infrastructure/terraform/keep-prd/config-files/files/helm-repositories.yaml
  infrastructure/terraform/keep-prd/gke.tf
  infrastructure/terraform/keep-prd/variables.tf
  infrastructure/terraform/keep-prd/vpn.tf
Labels: :cloud: infrastructure

#1740 Display token amount with metric suffix
  solidity/dashboard/src/components/CreateTokenGrantForm.jsx
  solidity/dashboard/src/components/DelegateStakeForm.jsx
  solidity/dashboard/src/components/DelegatedTokens.jsx
  solidity/dashboard/src/components/DelegatedTokensTable.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/OwnedTokensOverview.jsx
  solidity/dashboard/src/components/PendingUndelegation.jsx
  solidity/dashboard/src/components/ProgressBar.jsx
  solidity/dashboard/src/components/SlashedTokensList.jsx
  solidity/dashboard/src/components/TokenAmount.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
  solidity/dashboard/src/components/TokenGrantsOverview.jsx
  solidity/dashboard/src/components/TokensContextSwitcher.jsx
  solidity/dashboard/src/components/Undelegations.jsx
  solidity/dashboard/src/css/tokens-context-switcher.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/forms/common-validators.js
  solidity/dashboard/src/static/svg/keep-green-outline.svg
  solidity/dashboard/src/utils/general.utils.js
  solidity/dashboard/src/utils/token.utils.js
Labels: :old_key: token dashboard

#1733 Staking via managed grant
  solidity/dashboard/src/components/DelegatedTokens.jsx
  solidity/dashboard/src/components/DelegatedTokensTable.jsx
  solidity/dashboard/src/components/DelegationOverview.jsx
  solidity/dashboard/src/components/RecoverStakeButton.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
  solidity/dashboard/src/components/UndelegateStakeButton.jsx
  solidity/dashboard/src/components/Undelegations.jsx
  solidity/dashboard/src/components/WithWeb3Context.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contexts/TokensPageContext.jsx
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/pages/TokensPage.jsx
  solidity/dashboard/src/services/token-grants.service.js
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/services/tokens-page.service.js
  solidity/scripts/create-grants.js
Labels: :old_key: token dashboard

#1709 keep-dev/test: Kill Bitcoind
  infrastructure/terraform/keep-dev/config-files/bitcoin-values.yaml.tmpl
  infrastructure/terraform/keep-dev/tbtc.tf
  infrastructure/terraform/keep-test/config-files/bitcoin-values.yaml.tmpl
  infrastructure/terraform/keep-test/tbtc.tf
Labels: :cloud: infrastructure

#1663 keep-prd: IAM Members
  infrastructure/terraform/keep-prd/iam-members.tf
  infrastructure/terraform/keep-prd/ip.tf
  infrastructure/terraform/keep-prd/variables.tf
Labels: :cloud: infrastructure

#1656 keep-prd: NATs
  infrastructure/terraform/keep-prd/config-files/files/helm-repositories.yaml
  infrastructure/terraform/keep-prd/gke.tf
  infrastructure/terraform/keep-prd/nats.tf
  infrastructure/terraform/keep-prd/variables.tf
  infrastructure/terraform/keep-prd/vpn.tf
Labels: :cloud: infrastructure

#1655 keep-prd: Bootstrap
  infrastructure/terraform/keep-prd/backend.tf
  infrastructure/terraform/keep-prd/base.tf
  infrastructure/terraform/keep-prd/config-files/files/helm-repositories.yaml
  infrastructure/terraform/keep-prd/gke.tf
  infrastructure/terraform/keep-prd/nats.tf
  infrastructure/terraform/keep-prd/variables.tf
  infrastructure/terraform/keep-prd/vpn.tf
Labels: :cloud: infrastructure

#1761 Ledger live/legacy support
  solidity/dashboard/src/components/AuthorizationHistory.jsx
  solidity/dashboard/src/components/AuthorizationInfo.jsx
  solidity/dashboard/src/components/AuthorizeContracts.jsx
  solidity/dashboard/src/components/ChooseWallet.jsx
  solidity/dashboard/src/components/ChooseWalletAddress.jsx
  solidity/dashboard/src/components/CreateTokenGrantForm.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/LedgerModal.jsx
  solidity/dashboard/src/components/Modal.jsx
  solidity/dashboard/src/components/NetworkStatus.jsx
  solidity/dashboard/src/components/RecoverStakeButton.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/TrezorModal.jsx
  solidity/dashboard/src/components/UndelegateStakeButton.jsx
  solidity/dashboard/src/components/ViewAddressInBlockExplorer.jsx
  solidity/dashboard/src/components/Web3ContextProvider.jsx
  solidity/dashboard/src/components/Web3Status.jsx
  solidity/dashboard/src/connectors/ledger.js
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/choose-wallet-address.less
  solidity/dashboard/src/hooks/useModal.js
  solidity/dashboard/src/pages/TokensPage.jsx
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/static/svg/ledger-device.svg
  solidity/dashboard/src/static/svg/trezor-device.svg
Labels: :old_key: token dashboard

#1756 Token Grants page in KEEP token dashboard
  solidity/dashboard/src/components/PageWrapper.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SelectedGrantDropdown.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/components/TokenAmount.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/token-grants-page.less
  solidity/dashboard/src/pages/TokenGrantsPage.jsx
  solidity/dashboard/src/pages/TokensPage.jsx
  solidity/dashboard/src/pages/TokensPageContainer.jsx
Labels: :old_key: token dashboard

#1773 Return the chanID as a number
  solidity/dashboard/src/connectors/utils.js
Labels: :old_key: token dashboard

#1775 Authorization for application
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/AddETHModal.jsx
  solidity/dashboard/src/components/ApplicationBox.jsx
  solidity/dashboard/src/components/AuthorizationHistory.jsx
  solidity/dashboard/src/components/AuthorizationInfo.jsx
  solidity/dashboard/src/components/AuthorizeContracts.jsx
  solidity/dashboard/src/components/BondingSection.jsx
  solidity/dashboard/src/components/DataTable.jsx
  solidity/dashboard/src/components/Dropdown.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/PageWrapper.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/components/Tile.jsx
  solidity/dashboard/src/components/ViewAddressInBlockExplorer.jsx
  solidity/dashboard/src/constants/colors.js
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/datatable.less
  solidity/dashboard/src/css/dropdown.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/pages/ApplicationOverviewPage.jsx
  solidity/dashboard/src/pages/ApplicationsPageContainer.jsx
  solidity/dashboard/src/pages/AuthorizerPage.jsx
  solidity/dashboard/src/pages/KeepRandomBeaconApplicationPage.jsx
  solidity/dashboard/src/pages/TBTCApplicationPage.jsx
  solidity/dashboard/src/services/authorization.service.js
  solidity/dashboard/src/services/beacon-authorization.service.js
  solidity/dashboard/src/services/tbtc-authorization.service.js
  solidity/dashboard/src/static/svg/filter-icon.svg
  solidity/dashboard/src/static/svg/keep-token.svg
  solidity/dashboard/src/static/svg/link-arrow.svg
  solidity/dashboard/src/static/svg/tbtc.svg
Labels: :old_key: token dashboard

#1791 Malfunctioning copy button
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/AddressShortcut.jsx
  solidity/dashboard/src/css/address-shortcut.less
Labels: :old_key: token dashboard

#1807 Pass protocol identifier during the handshake
  cmd/network.go
  cmd/start.go
  pkg/net/gen/pb/handshake.pb.go
  pkg/net/gen/pb/handshake.proto
  pkg/net/libp2p/authenticated_connection.go
  pkg/net/libp2p/authenticated_connection_test.go
  pkg/net/libp2p/libp2p.go
  pkg/net/libp2p/libp2p_test.go
  pkg/net/libp2p/transport.go
  pkg/net/libp2p/unicast_channel_test.go
  pkg/net/security/handshake/connection_handshake.go
  pkg/net/security/handshake/connection_handshake_test.go
  pkg/net/security/handshake/marshaling.go
  pkg/net/security/handshake/marshaling_test.go
Labels: 🌍 network, 📟 client

#1799 Adding operators of authorizer in bonding section
  solidity/dashboard/src/pages/TBTCApplicationPage.jsx
  solidity/dashboard/src/services/tbtc-authorization.service.js
Labels: :old_key: token dashboard

#1794 Link to the tx
  solidity/dashboard/src/App.js
  solidity/dashboard/src/components/AuthorizationHistory.jsx
  solidity/dashboard/src/components/AuthorizeContracts.jsx
  solidity/dashboard/src/components/Banner.jsx
  solidity/dashboard/src/components/Button.jsx
  solidity/dashboard/src/components/ChooseWalletAddress.jsx
  solidity/dashboard/src/components/TransactionIsPendingMsgContent.jsx
  solidity/dashboard/src/components/ViewAddressInBlockExplorer.jsx
  solidity/dashboard/src/components/ViewInBlockExplorer.jsx
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/messages.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/static/svg/link-arrow-grey.svg
Labels: :old_key: token dashboard

#1664 Adding available balance of tokens after slashing
  solidity/dashboard/src/components/SelectedGrantDropdown.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
  solidity/dashboard/src/components/TokenGrantsOverview.jsx
  solidity/dashboard/src/components/TokensOverview.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contexts/TokensPageContext.jsx
  solidity/dashboard/src/pages/TokenGrantsPage.jsx
  solidity/dashboard/src/services/slashed-tokens.service.js
Labels: :old_key: token dashboard

#1802 keep-prd: Token Dashboard to 1.0.3
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Labels: :cloud: infrastructure

#1825 Adding partial withdrawal with modal
  solidity/dashboard/src/components/AddETHModal.jsx
  solidity/dashboard/src/components/AvailableETHForm.jsx
  solidity/dashboard/src/components/AvailableEthAmount.jsx
  solidity/dashboard/src/components/BondingSection.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/WithdrawETHModal.jsx
  solidity/dashboard/src/services/tbtc-authorization.service.js
  solidity/dashboard/src/static/svg/diamond.svg
Labels: :old_key: token dashboard

#1566 Work with contracts deployed locally- dapp
  scripts/start_dashboard.sh
  solidity/dashboard/.gitignore
  solidity/dashboard/README.md
  solidity/dashboard/scripts/copy-contracts.sh
  solidity/dashboard/scripts/fetch-contracts.sh
  solidity/dashboard/src/contracts/.keep
Labels: :old_key: token dashboard

#1828 Glossary page
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/components/Tile.jsx
  solidity/dashboard/src/components/glossary/DelegationDiagram.jsx
  solidity/dashboard/src/components/glossary/DocumentationSection.jsx
  solidity/dashboard/src/components/glossary/Navigation.jsx
  solidity/dashboard/src/components/glossary/TerminologyDataTable.jsx
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/glossary-page.less
  solidity/dashboard/src/pages/GlossaryPage.jsx
  solidity/dashboard/src/static/svg/delegation-diagram.svg
  solidity/dashboard/src/static/svg/document-bg-green.svg
Labels: :old_key: token dashboard
