Repository keep-network/keep-core, pull requests merged in 2020-12, with the labels that each got.

#2160 Update token grants page
  solidity/dashboard/src/components/CircularProgressBar.jsx
  solidity/dashboard/src/components/DelegateStakeForm.jsx
  solidity/dashboard/src/components/Divider.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/ProgressBar.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/components/TokenOverview.jsx
  solidity/dashboard/src/components/empty-states/EmptyState.jsx
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/header.less
  solidity/dashboard/src/css/side-menu.less
  solidity/dashboard/src/css/token-grants-page.less
  solidity/dashboard/src/hooks/useReleaseTokens.js
  solidity/dashboard/src/pages/OverviewPage.jsx
  solidity/dashboard/src/pages/RewardsPage.jsx
  solidity/dashboard/src/pages/RewardsPageContainer.jsx
  solidity/dashboard/src/pages/TBTCRewardsPage.jsx
  solidity/dashboard/src/pages/TokenGrantsPage.jsx
  solidity/dashboard/src/pages/delegation/GrantedTokensPage.jsx
  solidity/dashboard/src/pages/delegation/WalletTokensPage.jsx
  solidity/dashboard/src/pages/delegation/index.js
  solidity/dashboard/src/pages/grants/EmptyStatePage.jsx
  solidity/dashboard/src/pages/grants/TokenGrantPreviewPage.jsx
  solidity/dashboard/src/pages/grants/TokenGrantsPage.jsx
  solidity/dashboard/src/pages/grants/index.js
  solidity/dashboard/src/static/svg/stakedrop.svg
  solidity/dashboard/src/static/svg/sword-operations.svg
Labels: :old_key: token dashboard

#2177 tBTC rewards dapp
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/BeaconRewardsDetails.jsx
  solidity/dashboard/src/components/RewardsDetails.jsx
  solidity/dashboard/src/components/StakeDropChart.jsx
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/rewards-page.less
  solidity/dashboard/src/pages/rewards/EmptyStatePage.jsx
  solidity/dashboard/src/pages/rewards/RewardsOverviewPage.jsx
  solidity/dashboard/src/reducers/rewards.js
  solidity/dashboard/src/sagas/rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/services/rewards.js
  solidity/dashboard/src/services/rewards.service.js
  solidity/dashboard/src/services/tbtc-rewards.service.js
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/utils/beaconRewardsHelper.js
  solidity/dashboard/src/utils/rewardsHelper.js
Labels: :old_key: token dashboard

#2172 Add Random Beacon rewards page
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/RandomBeaconRewardsTable.jsx
  solidity/dashboard/src/components/RewardsDetails.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/components/StakeDropChart.jsx
  solidity/dashboard/src/components/skeletons/index.js
  solidity/dashboard/src/constants/colors.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/chip.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/datatable.less
  solidity/dashboard/src/css/rewards-page.less
  solidity/dashboard/src/pages/rewards/EmptyStatePage.jsx
  solidity/dashboard/src/pages/rewards/RandomBeaconRewardsPage.jsx
  solidity/dashboard/src/pages/rewards/RewardsOverviewPage.jsx
  solidity/dashboard/src/pages/rewards/index.js
  solidity/dashboard/src/reducers/index.js
  solidity/dashboard/src/reducers/rewards.js
  solidity/dashboard/src/sagas/index.js
  solidity/dashboard/src/sagas/rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/services/rewards.js
  solidity/dashboard/src/services/rewards.service.js
  solidity/dashboard/src/services/tbtc-rewards.service.js
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/utils/rewardsHelper.js
  solidity/migrations/2_deploy_contracts.js
Labels: :old_key: token dashboard

#2182 Fix typo
  solidity/dashboard/src/components/Rewards.jsx
Labels: :old_key: token dashboard

#2189 Fix dapp build process via docker
  solidity/dashboard/Dockerfile
Labels: :old_key: token dashboard

#2192 [Backport] Fix dapp build process via docker
  solidity/dashboard/Dockerfile
Labels: :old_key: token dashboard

#2190 Fix `withdraw tokens` btn
  solidity/dashboard/src/components/ProgressBar.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
Labels: :old_key: token dashboard

#2191 [Backport] Fix `withdraw tokens` btn
  solidity/dashboard/src/components/ProgressBar.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
Labels: :old_key: token dashboard

#2193 Fix fetching ecdsa available rewards
  solidity/dashboard/src/services/rewards.js
Labels: :old_key: token dashboard

#2195 [Backport] Fix fetching ecdsa available rewards
  solidity/dashboard/src/services/rewards.js
Labels: :old_key: token dashboard

#2199 [Backport] Refresh a dapp on `accountChanged` event
  solidity/dashboard/src/components/Web3ContextProvider.jsx
Labels: :old_key: token dashboard

#2198 Fix subscription to TopUpCompleted event
  solidity/dashboard/src/sagas/subscriptions.js
Labels: :old_key: token dashboard

#2200 [Backport] Fix subscription to TopUpCompleted event
  solidity/dashboard/src/sagas/subscriptions.js
Labels: :old_key: token dashboard

#2183 Fix bugs in KEEP token dashboard
  solidity/dashboard/src/components/AvailableEthAmount.jsx
  solidity/dashboard/src/components/BondingSection.jsx
  solidity/dashboard/src/components/ResourceTooltip.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/components/WithdrawETHModal.jsx
  solidity/dashboard/src/constants/tooltips.js
  solidity/dashboard/src/css/address-shortcut.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/operator-page.less
  solidity/dashboard/src/css/tooltip.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/pages/ApplicationOverviewPage.jsx
  solidity/dashboard/src/pages/RewardsPageContainer.jsx
  solidity/dashboard/src/pages/TBTCRewardsPage.jsx
  solidity/dashboard/src/pages/applications/EmptyStatePage.jsx
  solidity/dashboard/src/pages/applications/KeepRandomBeaconApplicationPage.jsx
  solidity/dashboard/src/pages/applications/TBTCApplicationPage.jsx
  solidity/dashboard/src/pages/applications/index.js
  solidity/dashboard/src/pages/earnings/EmptyStatePage.jsx
  solidity/dashboard/src/pages/earnings/RewardsPage.jsx
  solidity/dashboard/src/pages/earnings/TBTCRewardsPage.jsx
  solidity/dashboard/src/pages/earnings/index.js
  solidity/dashboard/src/pages/operations/EmptyStatePage.jsx
  solidity/dashboard/src/pages/operations/OperatorPage.jsx
  solidity/dashboard/src/pages/operations/index.js
  solidity/dashboard/src/services/rewards.service.js
  solidity/dashboard/src/services/tbtc-rewards.service.js
  solidity/dashboard/src/static/svg/tbtc.svg
Labels: :old_key: token dashboard

#2129 Banner updates dapp
  solidity/dashboard/src/components/Banner.jsx
  solidity/dashboard/src/components/DelegatedTokens.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/Message.jsx
  solidity/dashboard/src/css/banner.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/messages.less
  solidity/dashboard/src/pages/delegation/index.js
  solidity/dashboard/src/sagas/web3.js
  solidity/dashboard/src/static/svg/success.svg
  solidity/dashboard/src/static/svg/wallet.svg
  solidity/dashboard/src/static/svg/warning.svg
Labels: :old_key: token dashboard

#2212 Implement timer for tBTC Rewards interval
  solidity/dashboard/src/components/Timer.jsx
  solidity/dashboard/src/pages/rewards/TBTCRewardsPage.jsx
Labels: :old_key: token dashboard

#2208 Support the new rewards mechanism in KEEP token dashboard
  scripts/start_dashboard.sh
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/DataTable.jsx
  solidity/dashboard/src/components/TBTCEarningsDataTable.jsx
  solidity/dashboard/src/components/TBTCRewardsDataTable.jsx
  solidity/dashboard/src/components/Timer.jsx
  solidity/dashboard/src/components/WithWeb3Context.jsx
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/rewards-page.less
  solidity/dashboard/src/pages/earnings/TBTCRewardsPage.jsx
  solidity/dashboard/src/pages/rewards/RandomBeaconRewardsPage.jsx
  solidity/dashboard/src/pages/rewards/RewardsOverviewPage.jsx
  solidity/dashboard/src/pages/rewards/TBTCRewardsPage.jsx
  solidity/dashboard/src/pages/rewards/index.js
  solidity/dashboard/src/reducers/rewards.js
  solidity/dashboard/src/rewards-allocation/rewards.json
  solidity/dashboard/src/sagas/rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/services/rewards.js
  solidity/dashboard/src/utils/rewardsHelper.js
Labels: :old_key: token dashboard

#2186 Fix owner address in Operations page
  solidity/dashboard/src/components/DelegatedTokens.jsx
  solidity/dashboard/src/pages/operations/OperatorPage.jsx
  solidity/dashboard/src/services/token-staking.service.js
Labels: :old_key: token dashboard

#2230 BatchedPhasedEscrow
  solidity/contracts/PhasedEscrow.sol
  solidity/test/TestPhasedEscrow.js
Labels: ⛓chain

#2233 [Backport] tBTC rewards allocation 2020-12-11 -> 2020-12-18
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2232 tBTC rewards allocation 2020-12-11 -> 2020-12-18
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2224 Liquidity rewards fetching data
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/reducers/index.js
  solidity/dashboard/src/reducers/liquidity-rewards.js
  solidity/dashboard/src/sagas/index.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
  solidity/dashboard/src/sagas/utils.js
  solidity/dashboard/src/services/liquidity-rewards.js
Labels: :old_key: token dashboard

#2231 Liquidity rewards - buttons functionality
  solidity/dashboard/src/actions/web3.js
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/reducers/liquidity-rewards.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/services/liquidity-rewards.js
  solidity/dashboard/src/utils/arithmetics.utils.js
Labels: :old_key: token dashboard

#2216 Liquidity rewards
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/actions/web3.js
  solidity/dashboard/src/components/Card.jsx
  solidity/dashboard/src/components/CardContainer.jsx
  solidity/dashboard/src/components/DoubleIcon.jsx
  solidity/dashboard/src/components/Header.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/components/PageWrapper.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/card-container.less
  solidity/dashboard/src/css/card.less
  solidity/dashboard/src/css/double-icon.less
  solidity/dashboard/src/css/header.less
  solidity/dashboard/src/css/liquidity-page.less
  solidity/dashboard/src/pages/liquidity/EmptyStatePage.jsx
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/pages/liquidity/index.js
  solidity/dashboard/src/reducers/index.js
  solidity/dashboard/src/reducers/liquidity-rewards.js
  solidity/dashboard/src/sagas/index.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/sagas/utils.js
  solidity/dashboard/src/services/liquidity-rewards.js
  solidity/dashboard/src/static/svg/eth_token.svg
  solidity/dashboard/src/static/svg/santa-hat.svg
  solidity/dashboard/src/static/svg/tbtc.svg
  solidity/dashboard/src/utils/arithmetics.utils.js
Labels: :old_key: token dashboard

#2245 tBTC rewards allocation 2020-12-18 -> 2020-12-25
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2238 KEEP Token Dashboard release v1.6.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2246 [Backport] tBTC rewards allocation 2020-12-18 -> 2020-12-25
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2242 Use ethereum and local signer from keep-common
  go.mod
  go.sum
  pkg/chain/ethereum/ethereum.go
  pkg/chain/ethereum/ethereum_test.go
  pkg/chain/ethereum/signing.go
  pkg/chain/ethereum/signing_test.go
  pkg/chain/local/local.go
  pkg/chain/local/signing.go
  pkg/chain/local/signing_test.go
Labels: 📟 client

#2251 Set two decimal places for the value of the progress bar
  solidity/dashboard/src/components/ProgressBar.jsx
Labels: :old_key: token dashboard

#2253 Updated keep-common dependency to v1.3.0
  go.mod
  go.sum
Labels: 📟 client

#2247 Liquidity rewards empty pool
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/css/liquidity-page.less
Labels: :old_key: token dashboard
