Repository keep-network/keep-core, pull requests merged in 2020-04, with the labels that each got.

#1274 Validation of signature shares
  pkg/beacon/relay/dkg/dkg.go
  pkg/beacon/relay/dkg/marshalling.go
  pkg/beacon/relay/dkg/marshalling_test.go
  pkg/beacon/relay/dkg/signer.go
  pkg/beacon/relay/dkg/signer_test.go
  pkg/beacon/relay/entry/entry.go
  pkg/beacon/relay/entry/message.go
  pkg/beacon/relay/entry/states.go
  pkg/beacon/relay/gjkr/member.go
  pkg/beacon/relay/gjkr/protocol.go
  pkg/beacon/relay/gjkr/protocol_combinations_test.go
  pkg/beacon/relay/gjkr/protocol_reconstructions_test.go
  pkg/beacon/relay/gjkr/result.go
  pkg/beacon/relay/gjkr/states.go
  pkg/beacon/relay/integration_test.go
  pkg/beacon/relay/node.go
  pkg/beacon/relay/registry/gen/pb/message.proto
  pkg/beacon/relay/registry/groups_test.go
  pkg/beacon/relay/registry/marshalling_test.go
  solidity/contracts/KeepRandomBeaconOperator.sol
Labels: 🔀 relay

#1535 Add delegated authorization functionality
  solidity/contracts/TokenStaking.sol
  solidity/contracts/stubs/DelegatedAuthorityStub.sol
  solidity/test/token_stake/TestDelegatedAuthority.js
Labels: ⛓chain

#1511 keep-dev: dev.*.network hosted zones
  infrastructure/terraform/keep-dev/dns.tf
Labels: :cloud: infrastructure

#1497 Altbn128 optimization
  solidity/contracts/cryptography/AltBn128.sol
Labels: ⛓chain

#1555 keep-dev/test: Token Dashboard SSL
  infrastructure/kube/keep-dev/keep-dapp-token-dashboard-deployment.yaml
  infrastructure/kube/keep-dev/keep-dapp-token-dashboard-ingress.yaml
  infrastructure/kube/keep-dev/keep-dapp-token-dashboard-service.yaml
  infrastructure/kube/keep-test/keep-dapp-token-dashboard-deployment.yaml
  infrastructure/kube/keep-test/keep-dapp-token-dashboard-ingress.yaml
  infrastructure/kube/keep-test/keep-dapp-token-dashboard-service.yaml
Labels: :cloud: infrastructure

#1546 Grant staking policy- dapp update
  solidity/dashboard/scripts/copy-contracts.sh
  solidity/dashboard/scripts/fetch-contracts.sh
  solidity/dashboard/src/components/DelegateStakeForm.jsx
  solidity/dashboard/src/components/TokenGrantsOverview.jsx
  solidity/dashboard/src/contexts/TokensPageContext.jsx
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/progress-bar.less
  solidity/dashboard/src/reducers/tokens-page.reducer.js
  solidity/dashboard/src/services/token-grants.service.js
Labels: :old_key: token dashboard

#1519 Implement stake lock to an operator
  solidity/contracts/TokenStaking.sol
  solidity/contracts/stubs/LockStub.sol
  solidity/contracts/utils/LockUtils.sol
  solidity/test/TestLockUtils.js
  solidity/test/token_stake/TestDelegatedAuthority.js
  solidity/test/token_stake/TestTokenStake.js
  solidity/test/token_stake/TestTokenStakeLock.js
Labels: ⛓chain

#1563 Fix broken tests
  solidity/test/helpers/mineBlocks.js
  solidity/test/helpers/signature.js
  solidity/test/helpers/stakeAndGenesis.js
  solidity/test/random_beacon_operator/TestDkgMisbehavior.js
  solidity/test/random_beacon_operator/TestGroupExpiration.js
  solidity/test/random_beacon_operator/TestGroupSelection.js
  solidity/test/random_beacon_operator/TestGroupTermination.js
  solidity/test/random_beacon_operator/TestPricingRewards.js
  solidity/test/random_beacon_operator/TestPricingRewardsWithdraw.js
  solidity/test/random_beacon_operator/TestPublishDkgResult.js
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
  solidity/test/random_beacon_operator/TestSlashing.js
  solidity/test/random_beacon_service/TestPricing.js
  solidity/test/token_grant/TestTokenGrantRevoke.js
  solidity/test/token_stake/TestTokenStake.js
Labels: ⛓chain

#1310 Documentation: Run Random Beacon
  docs/run-random-beacon.adoc
Labels: 📝 docs

#1564 Solid Ice: Bump solidity to 0.5.17 and freeze version
  Dockerfile
  solidity/contracts/DelayedWithdrawal.sol
  solidity/contracts/GrantStakingPolicy.sol
  solidity/contracts/GuaranteedMinimumStakingPolicy.sol
  solidity/contracts/IRandomBeacon.sol
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/contracts/KeepRandomBeaconService.sol
  solidity/contracts/KeepRandomBeaconServiceImplV1.sol
  solidity/contracts/KeepToken.sol
  solidity/contracts/Migrations.sol
  solidity/contracts/PermissiveStakingPolicy.sol
  solidity/contracts/Registry.sol
  solidity/contracts/StakeDelegatable.sol
  solidity/contracts/TokenGrant.sol
  solidity/contracts/TokenGrantStake.sol
  solidity/contracts/TokenStaking.sol
  solidity/contracts/cryptography/AltBn128.sol
  solidity/contracts/cryptography/BLS.sol
  solidity/contracts/examples/CallbackContract.sol
  solidity/contracts/examples/KeepRandomBeaconServiceUpgradeExample.sol
  solidity/contracts/libraries/grant/UnlockingSchedule.sol
  solidity/contracts/libraries/operator/DKGResultVerification.sol
  solidity/contracts/libraries/operator/GroupSelection.sol
  solidity/contracts/libraries/operator/Groups.sol
  solidity/contracts/libraries/operator/Reimbursements.sol
  solidity/contracts/stubs/DelegatedAuthorityStub.sol
  solidity/contracts/stubs/EvilStakingPolicy.sol
  solidity/contracts/stubs/GroupsExpirationStub.sol
  solidity/contracts/stubs/GroupsSelectionStub.sol
  solidity/contracts/stubs/GroupsTerminationStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorCallbackStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorGroupSelectionStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorPricingRewardsWithdrawStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorPricingStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorRewardsStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorStub.sol
  solidity/contracts/stubs/LockStub.sol
  solidity/contracts/stubs/OperatorParamsStub.sol
  solidity/contracts/stubs/RegistryStub.sol
  solidity/contracts/stubs/TestAltBn128.sol
  solidity/contracts/stubs/TestArrayUtils.sol
  solidity/contracts/stubs/TestModUtils.sol
  solidity/contracts/stubs/TokenStakingSlashingStub.sol
  solidity/contracts/stubs/TokenStakingStub.sol
  solidity/contracts/utils/AddressArrayUtils.sol
  solidity/contracts/utils/BytesLib.sol
  solidity/contracts/utils/LockUtils.sol
  solidity/contracts/utils/ModUtils.sol
  solidity/contracts/utils/OperatorParams.sol
  solidity/contracts/utils/PercentUtils.sol
  solidity/contracts/utils/ThrowProxy.sol
  solidity/contracts/utils/UintArrayUtils.sol
  solidity/package-lock.json
  solidity/package.json
  solidity/truffle-config.js
Labels: ⛓chain

#1569 Removed on-chain relay entry generation time
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/test/random_beacon_operator/TestPricingRewards.js
  solidity/test/random_beacon_service/TestPricing.js
Labels: ⛓chain, 🔀 relay

#1550 Incorrect gas estimation for the first relay entry submitter
  go.mod
  go.sum
  pkg/chain/ethereum/ethereum.go
Labels: 🔀 relay

#1576 Run Random Beacon Docs: section about staking in KEEP token dashboard
  docs/run-random-beacon.adoc
Labels: 📝 docs

#1595 fixed link "View in Block Explorer"
  solidity/dashboard/src/components/AuthorizationHistory.jsx
  solidity/dashboard/src/components/AuthorizeContracts.jsx
Labels: :old_key: token dashboard

#1612 Firewall: define your own rules for connections with remote peers
  cmd/network.go
  cmd/start.go
  pkg/firewall/firewall.go
  pkg/net/key/ethereum_key.go
  pkg/net/libp2p/authenticated_connection.go
  pkg/net/libp2p/authenticated_connection_test.go
  pkg/net/libp2p/channel.go
  pkg/net/libp2p/libp2p.go
  pkg/net/libp2p/libp2p_test.go
  pkg/net/libp2p/transport.go
  pkg/net/libp2p/unicast_channel_test.go
  pkg/net/local/local.go
  pkg/net/net.go
  pkg/net/watchtower/watchtower.go
  pkg/net/watchtower/watchtower_test.go
  solidity/migrations/2_deploy_contracts.js
Labels: 🌍 network

#1562 Managed grants
  solidity/contracts/ManagedGrant.sol
  solidity/contracts/ManagedGrantFactory.sol
  solidity/contracts/TokenGrant.sol
  solidity/migrations/2_deploy_contracts.js
  solidity/test/helpers/grantTokens.js
  solidity/test/token_grant/TestManagedGrant.js
  solidity/test/token_grant/TestManagedGrantFactory.js
  solidity/test/token_grant/TestTokenGrant.js
Labels: ⛓chain

#1616 GCP Staking: One too many zeros
  infrastructure/kube/templates/keep-client/initcontainer/provision-keep-client/provision-keep-client.js
Labels: :cloud: infrastructure

#1567 Record and provide more information on groups
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/contracts/libraries/operator/Groups.sol
  solidity/contracts/statistics/KeepRandomBeaconOperatorStatistics.sol
  solidity/contracts/stubs/GroupsTerminationStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorPricingRewardsWithdrawStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorRewardsStub.sol
  solidity/migrations/2_deploy_contracts.js
  solidity/scripts/pricing-test.js
  solidity/test/random_beacon_operator/TestGroupTermination.js
  solidity/test/random_beacon_operator/TestPricingRewardsWithdraw.js
  solidity/test/random_beacon_operator/TestSlashing.js
Labels: ⛓chain

#1623 Panic button per operator contract with a possibility of being disabled
  solidity/contracts/Registry.sol
  solidity/contracts/stubs/RegistryStub.sol
  solidity/test/TestRegistry.js
Labels: ⛓chain

#1619 Update rewards withdrawal in KEEP token dashboard
  solidity/dashboard/package-lock.json
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/services/rewards.service.js
Labels: :old_key: token dashboard

#1650 Group expiration off-by-one bugfix
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/contracts/libraries/operator/Groups.sol
  solidity/migrations/2_deploy_contracts.js
  solidity/test/random_beacon_operator/TestGroupExpiration.js
  solidity/test/random_beacon_operator/TestGroupTermination.js
Labels: ⛓chain

#1685 Service Contract Keeper and non-ownable KeepRandomBeaconOperator contract
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/contracts/Registry.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorCallbackStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorDKGResultStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorGroupSelectionStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorPricingRewardsWithdrawStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorPricingStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorRewardsStub.sol
  solidity/contracts/stubs/KeepRandomBeaconOperatorStub.sol
  solidity/migrations/2_deploy_contracts.js
  solidity/test/TestRegistry.js
  solidity/test/helpers/initContracts.js
  solidity/test/random_beacon_operator/TestManageServiceContracts.js
  solidity/test/random_beacon_operator/TestRelayEntryTimeout.js
  solidity/test/random_beacon_service/TestSelectOperator.js
Labels: ⛓chain

#1686 Escrow contract
  solidity/contracts/Escrow.sol
  solidity/test/TestEscrow.js
Labels: ⛓chain

#1688 Update Registry->KeepRegistry in KEEP token dashboard
  solidity/dashboard/src/contracts.js
Labels: :old_key: token dashboard

#1705 Bumping up dashboard dependency to keep-core contracts to >1.1.0-pre <1.1.0-rc
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#1712 Conservative relay entry timeout punishment for the first months
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/contracts/libraries/operator/Groups.sol
  solidity/test/random_beacon_operator/TestSlashing.js
Labels: ⛓chain

#1700 Docs: Retire Quickstart
  docs/keep-client-quickstart.adoc
Labels: 📝 docs

#1622 keep-test: Fresh Infura Account
  infrastructure/kube/keep-test/eth-network-ropsten-configmap.yaml
Labels: :cloud: infrastructure

#1718 Use groupSelectionStarterContract to reimburse for failed DKG
  solidity/contracts/KeepRandomBeaconOperator.sol
Labels: ⛓chain

#1620 Fonts updates
  solidity/artifacts
  solidity/dashboard/.gitignore
  solidity/dashboard/package.json
  solidity/dashboard/src/components/AuthorizationHistory.jsx
  solidity/dashboard/src/components/AuthorizationInfo.jsx
  solidity/dashboard/src/components/AuthorizeContracts.jsx
  solidity/dashboard/src/components/DelegatedTokens.jsx
  solidity/dashboard/src/components/DelegatedTokensTable.jsx
  solidity/dashboard/src/components/Header.jsx
  solidity/dashboard/src/components/NetworkStatus.jsx
  solidity/dashboard/src/components/PageWrapper.jsx
  solidity/dashboard/src/components/PendingUndelegation.jsx
  solidity/dashboard/src/components/RewardsGroups.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/components/SlashedTokens.jsx
  solidity/dashboard/src/components/Tile.jsx
  solidity/dashboard/src/components/Undelegations.jsx
  solidity/dashboard/src/components/WithdrawalHistory.jsx
  solidity/dashboard/src/css/address-shortcut.less
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/buttons.less
  solidity/dashboard/src/css/datatable.less
  solidity/dashboard/src/css/fonts/vitesse.css
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-Black.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-BlackItalic.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-Bold.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-BoldItalic.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-Book.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-BookItalic.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-Light.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-LightItalic.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-Medium.otf
  solidity/dashboard/src/css/fonts/vitesse/VitesseSSm-MediumItalic.otf
  solidity/dashboard/src/css/fonts/work-sans.css
  solidity/dashboard/src/css/operator-page.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/index.js
  solidity/dashboard/src/pages/AuthorizerPage.jsx
  solidity/dashboard/src/pages/CreateTokenGrantPage.jsx
  solidity/dashboard/src/pages/OperatorPage.jsx
  solidity/dashboard/src/pages/RewardsPage.jsx
  solidity/dashboard/src/pages/TokensPage.jsx
Labels: :old_key: token dashboard

#1679 Left side menu updates
  solidity/dashboard/src/components/CircularProgressBar.jsx
  solidity/dashboard/src/components/DataTable.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/PendingUndelegation.jsx
  solidity/dashboard/src/components/SideMenu.jsx
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/vars.less
  solidity/dashboard/src/hooks/useSubscribeToContractEvent.js
  solidity/dashboard/src/static/svg/arrow-right.svg
  solidity/dashboard/src/static/svg/authorizer.svg
  solidity/dashboard/src/static/svg/glossary.svg
  solidity/dashboard/src/static/svg/operations.svg
  solidity/dashboard/src/static/svg/rewards.svg
  solidity/dashboard/src/static/svg/tokens.svg
Labels: :old_key: token dashboard
