Repository keep-network/keep-core, pull requests merged in 2020-03, with the labels that each got.

#1496 ModUtils optimization
  solidity/contracts/utils/ModUtils.sol
  solidity/test/utils/TestModUtils1.sol
Labels: ⛓chain

#1462 Member should not leave the group if it agrees with group public key
  pkg/beacon/relay/dkg/dkg.go
  pkg/beacon/relay/dkg/dkg_test.go
  pkg/beacon/relay/dkg/result/conversion.go
  pkg/beacon/relay/dkg/result/conversion_test.go
  pkg/beacon/relay/dkg/result/publish.go
  pkg/beacon/relay/dkg/result/states.go
  pkg/beacon/relay/event/event.go
  pkg/beacon/relay/gjkr/result.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/local/local.go
  solidity/contracts/KeepRandomBeaconOperator.sol
Labels: 🔀 relay

#1499 Minimum stake schedule
  solidity/contracts/KeepRandomBeaconOperator.sol
  solidity/contracts/TokenStaking.sol
  solidity/contracts/libraries/operator/GroupSelection.sol
  solidity/test/random_beacon_operator/TestSlashing.js
  solidity/test/token_stake/TestMinimumStake.js
  solidity/test/token_stake/TestTokenStake.js
Labels: ⛓chain

#1515 keep-test: cleanup internal ETH network configs
  infrastructure/kube/keep-test/eth-dashboard-ingress.yaml
  infrastructure/kube/keep-test/eth-dashboard-service.yaml
  infrastructure/kube/keep-test/eth-dashboard.yaml
  infrastructure/kube/keep-test/eth-miner-daemonset.yaml
  infrastructure/kube/keep-test/eth-miner-node-service.yaml
  infrastructure/kube/keep-test/eth-tx-node-deployment.yaml
  infrastructure/kube/keep-test/eth-tx-node-service.yaml
  infrastructure/kube/keep-test/eth-tx-service-temp-for-migrations.yaml
Labels: :cloud: infrastructure

#1507 keep-dev: Remove Electrum Kube config
  infrastructure/kube/keep-dev/tbtc-electrumx-server.yaml
Labels: :cloud: infrastructure

#1517 Service contract implementation initialization call moved to the complete upgrade step
  solidity/contracts/KeepRandomBeaconService.sol
  solidity/contracts/examples/KeepRandomBeaconServiceUpgradeExample.sol
  solidity/test/random_beacon_service/TestUpgrade.js
Labels: ⛓chain

#1516 Grant is getting unlocked not vested
  solidity/dashboard/README.md
  solidity/dashboard/src/components/CreateTokenGrantForm.jsx
  solidity/dashboard/src/components/TokenGrantOverview.jsx
  solidity/dashboard/src/components/TokenGrantVestingSchedule.jsx
  solidity/dashboard/src/constants/colors.js
  solidity/dashboard/src/css/vars.less
  solidity/dashboard/src/reducers/tokens-page.reducer.js
  solidity/dashboard/src/services/token-grants.service.js
  solidity/docs/README.md
  solidity/test/helpers/grantTokens.js
  solidity/test/token_grant/TestTokenGrant.js
  solidity/test/token_grant/TestTokenGrantStake.js
Labels: :old_key: token dashboard

#1512 Convert initialization and undelegation parameters to timestamps
  solidity/contracts/TokenStaking.sol
  solidity/contracts/stubs/OperatorParamsStub.sol
  solidity/contracts/utils/OperatorParams.sol
  solidity/migrations/2_deploy_contracts.js
  solidity/test/TestOperatorParams.js
  solidity/test/helpers/initContracts.js
  solidity/test/helpers/stakeAndGenesis.js
  solidity/test/random_beacon_operator/TestDkgMisbehavior.js
  solidity/test/random_beacon_operator/TestGroupSelection.js
  solidity/test/random_beacon_operator/TestPublishDkgResult.js
  solidity/test/random_beacon_operator/TestSlashing.js
  solidity/test/token_grant/TestTokenGrantStake.js
  solidity/test/token_stake/TestTokenStake.js
Labels: ⛓chain

#1340 Slashed tokens
  solidity/contracts/stubs/KeepRandomBeaconOperatorRewardsStub.sol
  solidity/contracts/stubs/TokenStakingSlashingStub.sol
  solidity/dashboard/src/components/SlashedTokens.jsx
  solidity/dashboard/src/components/SlashedTokensList.jsx
  solidity/dashboard/src/pages/OperatorPage.jsx
  solidity/dashboard/src/services/slashed-tokens.service.js
  solidity/dashboard/src/utils/array.utils.js
  solidity/scripts/misbehaved-groups.js
Labels: :old_key: token dashboard

#1513 Represent initialization and undelegation period in token dashboard dapp as timestamps
  solidity/dashboard/src/components/Banner.jsx
  solidity/dashboard/src/components/DelegatedTokens.jsx
  solidity/dashboard/src/components/DelegatedTokensList.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/PendingUndelegation.jsx
  solidity/dashboard/src/components/StatusBadge.jsx
  solidity/dashboard/src/components/TokenGrants.jsx
  solidity/dashboard/src/components/TokensOverview.jsx
  solidity/dashboard/src/components/Undelegations.jsx
  solidity/dashboard/src/constants/colors.js
  solidity/dashboard/src/css/banner.less
  solidity/dashboard/src/css/forms.less
  solidity/dashboard/src/css/vars.less
  solidity/dashboard/src/pages/TokensPage.jsx
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/services/tokens-page.service.js
Labels: :old_key: token dashboard

#1521 Do not allow to recover stake without first undelegating
  solidity/contracts/TokenStaking.sol
  solidity/test/token_stake/TestTokenStake.js
Labels: ⛓chain

#1525 DKGResultVerification.verify byte inputs validation
  solidity/contracts/libraries/operator/DKGResultVerification.sol
  solidity/test/random_beacon_operator/TestDkgMisbehavior.js
  solidity/test/random_beacon_operator/TestPublishDkgResult.js
Labels: ⛓chain

#1523 Validate length of G1 and G2 bytes for AltBn128
  solidity/contracts/cryptography/AltBn128.sol
  solidity/contracts/stubs/AltBn128Stub.sol
  solidity/test/TestBLS.js
  solidity/test/altbn128/TestAltBn128.js
  solidity/test/altbn128/TestAltBn128.sol
Labels: ⛓chain

#1526 Display rewards as they accumulate
  solidity/dashboard/src/components/AuthorizationHistory.jsx
  solidity/dashboard/src/components/AuthorizeContracts.jsx
  solidity/dashboard/src/components/Button.jsx
  solidity/dashboard/src/components/DataTable.jsx
  solidity/dashboard/src/components/DelegatedTokensList.jsx
  solidity/dashboard/src/components/DelegatedTokensTable.jsx
  solidity/dashboard/src/components/Dropdown.jsx
  solidity/dashboard/src/components/PendingUndelegation.jsx
  solidity/dashboard/src/components/RewardsGroupItem.jsx
  solidity/dashboard/src/components/RewardsGroups.jsx
  solidity/dashboard/src/components/SelectedRewardDropdown.jsx
  solidity/dashboard/src/components/StatusBadge.jsx
  solidity/dashboard/src/components/Undelegations.jsx
  solidity/dashboard/src/components/WithdrawalHistory.jsx
  solidity/dashboard/src/components/WithdrawalHistoryItem.jsx
  solidity/dashboard/src/css/app.less
  solidity/dashboard/src/css/datatable.less
  solidity/dashboard/src/css/rewards.less
  solidity/dashboard/src/css/vars.less
  solidity/dashboard/src/pages/RewardsPage.jsx
  solidity/dashboard/src/pages/TokensPage.jsx
  solidity/dashboard/src/services/rewards.service.js
  solidity/dashboard/src/utils/arithmetics.utils.js
  solidity/scripts/rewards.js
Labels: :old_key: token dashboard

#1532 __beaconCallback(uint256)
  go.mod
  go.sum
  pkg/chain/ethereum/utility.go
  solidity/contracts/IRandomBeacon.sol
  solidity/contracts/KeepRandomBeaconServiceImplV1.sol
  solidity/contracts/examples/CallbackContract.sol
  solidity/scripts/request-relay-entry-with-callback.js
  solidity/test/random_beacon_service/TestPricing.js
  solidity/test/random_beacon_service/TestPricingFees.js
  solidity/test/random_beacon_service/TestRelayRequestCallback.js
Labels: ⛓chain

#1536 Kube: Clean up old documentation
  infrastructure/kube/keep-dev/kube-setup.org
Labels: :cloud: infrastructure
