Repository keep-network/keep-core, pull requests merged in 2021-01, with the labels that each got.

#2266 tBTC rewards allocation 2020-12-25 -> 2020-01-01
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2267 [Backport] tBTC rewards allocation 2020-12-25 -> 2020-01-01
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2250 Liquidity rewards UI changes
  solidity/dashboard/src/components/Card.jsx
  solidity/dashboard/src/components/CardContainer.jsx
  solidity/dashboard/src/components/DelegateStakeForm.jsx
  solidity/dashboard/src/components/Header.jsx
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/components/PageWrapper.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/Web3Status.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/css/liquidity-page.less
  solidity/dashboard/src/css/web3-status.less
  solidity/dashboard/src/hooks/useHideComponent.js
  solidity/dashboard/src/pages/liquidity/EmptyStatePage.jsx
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/pages/liquidity/index.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
  solidity/dashboard/src/services/liquidity-rewards.js
  solidity/dashboard/src/services/tbtc-rewards.service.js
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/static/svg/santa-hat.svg
Labels: :old_key: token dashboard

#2252 Liquidity rewards APY calculation
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/Header.jsx
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/pages/operations/OperatorPage.jsx
  solidity/dashboard/src/reducers/liquidity-rewards.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/services/liquidity-rewards.js
  solidity/dashboard/src/services/tbtc-authorization.service.js
  solidity/dashboard/src/services/uniswap-api.js
  solidity/dashboard/src/utils/ethereum.utils.js
Labels: :old_key: token dashboard

#2278 tBTC rewards allocation: 2021-01-01 -> 2021-01-08
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2279 [Backport] tBTC rewards allocation: 2021-01-01 -> 2021-01-08
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2280 Fix Etherscan link of successful transaction
  solidity/dashboard/src/actions/messages.js
Labels: :old_key: token dashboard

#2274 Improvements around state machine and broadcast channel buffers
  pkg/beacon/relay/state/machine.go
  pkg/net/libp2p/channel.go
Labels: 🌍 network, 📟 client

#2281 Round percentage value to 2 decimal places
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/components/ProgressBar.jsx
  solidity/dashboard/src/components/TokenOverview.jsx
  solidity/dashboard/src/utils/general.utils.js
Labels: :old_key: token dashboard

#2284 Update the CTA for "Don't yet have KEEP?"
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/pages/OverviewPage.jsx
  solidity/dashboard/src/static/svg/balancer-logo.svg
  solidity/dashboard/src/static/svg/uniswap-logo.svg
Labels: :old_key: token dashboard

#2287 Fix share of the total pool when withdrawing
  solidity/dashboard/src/reducers/liquidity-rewards.js
Labels: :old_key: token dashboard

#2288 KEEP Token Dashboard release v1.7.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2289 Calculate APY w/o connected wallet
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/reducers/liquidity-rewards.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
Labels: :old_key: token dashboard

#2290 KEEP Token Dashboard release v1.7.1
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2291 Bump web3 dependency to v1.3.1
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/connectors/index.js
Labels: :old_key: token dashboard

#2292 Fetch liquidity reward per week from contract
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/services/liquidity-rewards.js
Labels: :old_key: token dashboard

#2293 KEEP Token Dashboard release v1.7.2
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2296 KEEP Token Dashboard release v1.8.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2299 Fix creating the wrapped token of the LPRewards
  solidity/dashboard/src/services/liquidity-rewards.js
Labels: :old_key: token dashboard

#2301 Releases/mainnet/token dashboard/v1.8.1
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2308 tBTC rewards allocation: 2021-01-15 -> 2021-01-22
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2306 Bump web3 dependency to v1.3.3
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2312 Releases/mainnet/token dashboard/v1.9.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2304 KEEP-only pool contracts
  solidity/contracts/geyser/IStaking.sol
  solidity/contracts/geyser/KeepTokenGeyser.sol
  solidity/contracts/geyser/KeepVault.sol
  solidity/contracts/geyser/TokenGeyser.sol
  solidity/contracts/geyser/TokenPool.sol
  solidity/contracts/stubs/TestToken.sol
  solidity/test/geyser/TestKeepTokenGeyser.js
  solidity/test/geyser/TestTokenGeyser.js
Labels: ⛓chain
