Repository keep-network/keep-core, pull requests merged in 2021-03, with the labels that each got.

#2307 Top up updates dapp
  solidity/dashboard/src/components/DelegationOverview.jsx
  solidity/dashboard/src/components/Message.jsx
  solidity/dashboard/src/components/TopUpsDataTable.jsx
  solidity/dashboard/src/components/messages/TopUpReadyToBeCommittedMessage.jsx
  solidity/dashboard/src/reducers/staking.js
  solidity/dashboard/src/sagas/staking.js
  solidity/dashboard/src/services/top-ups.service.js
Labels: :old_key: token dashboard

#2351 Change swap links to the ETH<>KEEP pairs
  solidity/dashboard/src/pages/OverviewPage.jsx
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
Labels: :old_key: token dashboard

#2368 tBTC rewards allocation 2021-02-26 -> 2021-03-05
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2369 releases/mainnet/token dashboard/v1.10.2
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2367 Fix tooltip style problems in Overview page
  solidity/dashboard/src/css/tooltip.less
Labels: :old_key: token dashboard

#2374 Fix below-fold CTA issue on Rewards empty state page
  solidity/dashboard/src/css/rewards-page.less
  solidity/dashboard/src/pages/rewards/EmptyStatePage.jsx
Labels: :old_key: token dashboard

#2375 Fix the problem with displaying KEEP tokens in the Overview page
  solidity/dashboard/src/sagas/subscriptions.js
Labels: :old_key: token dashboard

#2220 Display tBTC rewards from the owner's/grantee's perspective
  solidity/dashboard/src/sagas/rewards.js
  solidity/dashboard/src/services/token-staking.service.js
  solidity/dashboard/src/services/tokens-page.service.js
Labels: :old_key: token dashboard

#2361 Token Distribution
  solidity/contracts/token-distribution/TokenDistributor.sol
  solidity/package-lock.json
  solidity/test/token-distribution/TokenDistributorTest.js
  solidity/test/token-distribution/testData.json
Labels: ⛓chain

#2383 tBTC reward allocation 2021-03-05 -> 2021-03-12
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2384 [Backport] tBTC reward allocation: 2021-03-05 -> 2021-03-12
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2382 Add "incentives removed" warning to the KEEP-TBTC pool
  solidity/dashboard/src/components/LiquidityRewardCard.jsx
  solidity/dashboard/src/css/liquidity-page.less
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
Labels: :old_key: token dashboard

#2373 Footer Version link to releases page & update TBTC ticker
  solidity/dashboard/src/components/Footer.jsx
  solidity/dashboard/src/css/footer.less
  solidity/dashboard/src/pages/earnings/TBTCRewardsPage.jsx
Labels: :old_key: token dashboard

#2379 Staking keep token form redesign
  solidity/dashboard/src/components/DelegateStakeForm.jsx
  solidity/dashboard/src/components/FormInput.jsx
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/css/delegate-stake-form.less
  solidity/dashboard/src/css/forms.less
  solidity/dashboard/src/css/typography.less
  solidity/dashboard/src/pages/OverviewPage.jsx
  solidity/dashboard/src/pages/delegation/index.js
  solidity/dashboard/src/utils/minimum-stake-schedule.js
  solidity/dashboard/src/utils/token.utils.js
Labels: :old_key: token dashboard

#2385 releases/mainnet/token dashboard/v1.11.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Labels: :old_key: token dashboard

#2389 tBTC reward allocation 2021-03-12 -> 2021-03-19
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2390 [Backport] tBTC reward allocation 2021-03-12 -> 2021-03-19
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2340 Support WalletConnect
  solidity/dashboard/README.md
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
  solidity/dashboard/src/components/Icons.jsx
  solidity/dashboard/src/components/LedgerModal.jsx
  solidity/dashboard/src/components/MetaMaskModal.jsx
  solidity/dashboard/src/components/Routing.jsx
  solidity/dashboard/src/components/SelectedWalletModal.jsx
  solidity/dashboard/src/components/TrezorModal.jsx
  solidity/dashboard/src/components/WalletConnectModal.jsx
  solidity/dashboard/src/components/WalletOptions.jsx
  solidity/dashboard/src/components/Web3ContextProvider.jsx
  solidity/dashboard/src/components/Web3Status.jsx
  solidity/dashboard/src/config/config.json
  solidity/dashboard/src/connectors/abstract-connector.js
  solidity/dashboard/src/connectors/index.js
  solidity/dashboard/src/connectors/injected.js
  solidity/dashboard/src/connectors/ledger.js
  solidity/dashboard/src/connectors/trezor.js
  solidity/dashboard/src/connectors/utils.js
  solidity/dashboard/src/connectors/wallet-connect.js
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/contracts.js
  solidity/dashboard/src/css/buttons.less
  solidity/dashboard/src/css/commons.less
  solidity/dashboard/src/css/wallet-options.less
  solidity/dashboard/src/static/svg/ledger.svg
  solidity/dashboard/src/static/svg/trezor.svg
  solidity/dashboard/src/static/svg/wallet-connect.svg
  solidity/dashboard/src/utils/ethereum.utils.js
Labels: :old_key: token dashboard

#2387 go-ethereum dependency update to v1.10.1
  Dockerfile
  cmd/network.go
  go.mod
  go.sum
  pkg/beacon/beacon.go
  pkg/chain/ethereum/connect.go
  pkg/chain/gen/abi/AdaptiveStakingPolicy.go
  pkg/chain/gen/abi/Authorizations.go
  pkg/chain/gen/abi/BeaconBackportRewards.go
  pkg/chain/gen/abi/BeaconRewards.go
  pkg/chain/gen/abi/Escrow.go
  pkg/chain/gen/abi/GasPriceOracle.go
  pkg/chain/gen/abi/GrantStakingPolicy.go
  pkg/chain/gen/abi/GuaranteedMinimumStakingPolicy.go
  pkg/chain/gen/abi/IRandomBeacon.go
  pkg/chain/gen/abi/KeepRandomBeaconOperator.go
  pkg/chain/gen/abi/KeepRandomBeaconService.go
  pkg/chain/gen/abi/KeepRandomBeaconServiceImplV1.go
  pkg/chain/gen/abi/KeepRegistry.go
  pkg/chain/gen/abi/KeepToken.go
  pkg/chain/gen/abi/ManagedGrant.go
  pkg/chain/gen/abi/ManagedGrantFactory.go
  pkg/chain/gen/abi/Migrations.go
  pkg/chain/gen/abi/PermissiveStakingPolicy.go
  pkg/chain/gen/abi/PhasedEscrow.go
  pkg/chain/gen/abi/Rewards.go
  pkg/chain/gen/abi/StakeDelegatable.go
  pkg/chain/gen/abi/StakingPortBacker.go
  pkg/chain/gen/abi/TokenGrant.go
  pkg/chain/gen/abi/TokenGrantStake.go
  pkg/chain/gen/abi/TokenSender.go
  pkg/chain/gen/abi/TokenStaking.go
  pkg/chain/gen/abi/TokenStakingEscrow.go
  pkg/chain/gen/cmd/KeepRandomBeaconOperator.go
  pkg/chain/gen/cmd/KeepRandomBeaconService.go
  pkg/chain/gen/cmd/TokenGrant.go
  pkg/chain/gen/cmd/TokenStaking.go
  pkg/chain/gen/contract/KeepRandomBeaconOperator.go
  pkg/chain/gen/contract/KeepRandomBeaconService.go
  pkg/chain/gen/contract/TokenGrant.go
  pkg/chain/gen/contract/TokenStaking.go
Labels: 📟 client

#2401 tBTC reward allocation 2021-03-19 -> 2021-03-26
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2402 [Backport] tBTC reward allocation 2021-03-19 -> 2021-03-26
  solidity/dashboard/src/rewards-allocation/rewards.json
Labels: :old_key: token dashboard

#2386 Display boost for KEEP-only pool
  solidity/dashboard/src/components/KeepOnlyPool.jsx
  solidity/dashboard/src/components/liquidity/RewardMultiplier.jsx
  solidity/dashboard/src/css/liquidity-page.less
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/reducers/liquidity-rewards.js
  solidity/dashboard/src/sagas/liquidity-rewards.js
  solidity/dashboard/src/sagas/subscriptions.js
  solidity/dashboard/src/services/liquidity-rewards.js
Labels: :old_key: token dashboard
