Repository keep-network/keep-core, pull requests merged in 2022-02, with the labels that each got.

#2804 tBTC reward allocation 2021-12-21 -> 2022-01-22
  solidity-v1/dashboard/src/pages/rewards/TBTCRewardsPage.jsx
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
  solidity-v1/dashboard/src/services/rewards.js
  solidity-v1/dashboard/src/utils/rewardsHelper.js
Labels: :old_key: token dashboard

#2806 [Backport] tBTC reward allocation 2021-12-21 -> 2022-01-22
  solidity-v1/dashboard/src/pages/rewards/TBTCRewardsPage.jsx
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
  solidity-v1/dashboard/src/services/rewards.js
  solidity-v1/dashboard/src/utils/rewardsHelper.js
Labels: :old_key: token dashboard

#2807 Display `transaction is pending` modal
  solidity-v1/dashboard/src/components/modal/threshold/ThresholdLoadingModal.jsx
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/sagas/web3.js
Labels: :old_key: token dashboard

#2800 WalletRegistry governance params
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/05_deploy_wallet_registry_governance.ts
  solidity/ecdsa/deploy/05_transfer_ownership_to_governance.ts
  solidity/ecdsa/deploy/06_transfer_ownerships.ts
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Labels: ⛓chain

#2820 Gov params cleanup
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/deploy/06_transfer_ownerships.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletParameters.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Labels: ⛓chain

#2828 ❌ 💸 Remove incentives for KEEP ETH pool
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Labels: :old_key: token dashboard

#2817 Dependency bumps: all in one batch
  docs/scripts/package-lock.json
  docs/scripts/package.json
  go.mod
  go.sum
  infrastructure/eth-networks/scripts/package-lock.json
  infrastructure/gcp/keep-test/google-functions/keep-faucet/package-lock.json
  infrastructure/kube/templates/keep-client/initcontainer/provision-keep-client/package-lock.json
  solidity-v1/dashboard/package-lock.json
  solidity-v1/package-lock.json
  solidity/ecdsa/yarn.lock
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Labels: dependencies

#2799 Update dashboard testnet GH workflow
  .github/workflows/dashboard-v1-testnet.yml
Labels: :old_key: token dashboard

#2842 Fix creating a contract instance
  solidity-v1/dashboard/src/lib/keep/index.js
Labels: :old_key: token dashboard

#2846 Fix displaying undelegated stakes in app->threshold
  solidity-v1/dashboard/src/actions/index.js
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Labels: :old_key: token dashboard

#2849 [Backport] Fix displaying undelegated stakes in app->threshold
  solidity-v1/dashboard/src/actions/index.js
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Labels: :old_key: token dashboard

#2848 Authorization parameters for WalletRegistry contract
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistry.Pool.test.ts
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/operators.ts
  solidity/ecdsa/yarn.lock
Labels: ⛓chain

#2853 Add grant manager email address
  solidity-v1/dashboard/src/components/modal/staking/ConfirmDelegation.jsx
  solidity-v1/dashboard/src/components/modal/threshold/ContactYourGrantManagerWarning.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/vars.less
Labels: :old_key: token dashboard

#2855 Update threshold auth data after staking
  solidity-v1/dashboard/src/actions/index.js
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Labels: :old_key: token dashboard
